@font-face {
    font-family: 'Old London';
    src: url('../OldLondon.ttf');
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Pinyon Script', cursive;
    font-weight: 400;
}
p{
    font-size: 1.1rem;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Old London", serif;
}

.titre {
    font-family: 'Pinyon Script', cursive;
    font-weight: 400;
    font-style: normal;
}

.titre-2 {
    font-family: "Old London", serif;
    font-weight: 400;
    font-style: normal;
}

.hero-section {
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-section .carousel-indicators {
    justify-content: center;
    margin-top: 20px;
}

.hero-section .carousel-indicators button {
    background-color: #5c0000;
    border: none;
}

.hero-section .carousel-indicators .active {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition: all 0.3s;
}

.carousel-indicators [data-bs-target] {
    height: 5px;
    width: 50px;
    border-radius: 0%;
    transition: all 0.3s;
    align-self: center;
}

.carousel-indicators {
    position: absolute;
    margin-bottom: 0;
    bottom: -50px;
    z-index: 10;
    gap: 10px;
    align-content: center;
    justify-content: center;
}

.about-section {
    background-color: #ffffff;
    color: #000;
    text-align: center;
    padding: 50px 0;
}

.about-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.about-section .btn {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
}

.experience-section {
    background-color: #fff;
    text-align: center;
    padding: 50px 0;
}

.experience-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.experience-section p {
    font-size: 1.1rem;
    margin-bottom: 40px;
}

.experience-section .card {
    border: none;
    margin-bottom: 20px;
}

.experience-section .card .card-body {
    padding: 20px;
}

.experience-section .card .card-body i {
    font-size: 24px;
    margin-bottom: 10px;
}

.experience-section .btn {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
}

.portfolio-section {
    position: relative;
    color: white;
    text-align: left;
}

.portfolio-section img {
    width: 100%;
    height: auto;
}

.portfolio-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.portfolio-content h1 {
    font-size: 2rem;
    font-weight: bold;
}

.portfolio-content p {
    font-size: 1.1rem;
    margin: 1rem 0;
}

.portfolio-content .btn {
    border: 1px solid white;
    color: white;
    background: transparent;
    padding: 0.5rem 1rem;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0);
    border-color: white;
}

.btn {
    border-radius: 0;
    background-color: transparent !important;
    border: 1px solid white !important;
    padding: 10px 20px !important;
    color: white !important;
}

.btn2 {
    border-radius: 0;
    background-color: transparent !important;
    border: 1px solid black !important;
    padding: 7px 15px !important;
    color: black !important;
}

hr {
    margin: 0;
    padding: 0;
    border: 1px solid rgb(138, 4, 4);
    margin-left: auto;
    margin-right: auto;
}

/* ---- grid ---- */

.grid {
    background: white;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */
.grid-sizer {
    width: 33.333%;
}

.grid-item {
    width: 33.333%;
    display: block;
    float: left;
    transition: all 0.3s;
}
@media (max-width: 768px) {
    .grid-item {
        width: 25%;
    }
    .grid-sizer {
        width: 25%;
    }
}

.grid-item:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    cursor: pointer;
}

.grid-item img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    aspect-ratio: 4 / 3;
    transition: all 0.3s;
}

.grid-item img:hover {
    transition: all 0.3s;
}



.galleryTest {
    background: #fff;
  }
  
  /* clear fix */
  .galleryTest:after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* ---- .grid-item ---- */
  
  .mygrid-sizer,
  .mygrid-item {
    width: 31%;
  }
  
  .mygrid-item {
    float: left;
    margin-bottom: 5px;
    transition: all 0.3s;
  }
  .mygrid-item:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .mygrid-item img {
    display: block;
    max-width: 100%;
  }
  